/* The CSS that matters */

.lb {
	display: none;
	position: fixed!important;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
  text-align:center;
}

.lb img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lb:target {
	outline: none;
	display: block;
}

a.lb:hover {cursor:default;}
img:hover {cursor:pointer;}

/**** The CSS that doesn't matter ****/

html {
  background: #222;
  text-align:center;
}
h1 {
  font:50px Helvetica, Arial, Sans-Serif;
  color:#ccc;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}